---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

<!-- 
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
 -->
<!-- 
  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
 -->
<!--     {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%} -->

  <section class="gradient-custom-5">
    <div class="container py-5">
      <div class="main-timeline-5">

        {% assign wingmasByDate = site.data.wingvenues | group_by: "wingmasdate"%}
        {% assign sortedWingmasByDate = wingmasByDate | sort: "name", "first" | reverse %}
        {% for wingmasinfo in sortedWingmasByDate %}
          <div class="timeline-5 right-5">
            <div class="card">
              <div class="card-body p-4">
                <h5>{{ wingmasinfo.name | date_to_string: "ordinal", "US"}}</h5>
                <!-- <span class="small text-muted"><i class="fas fa-clock me-1"></i>21 March, 2020</span> -->
                <p class="mt-2 mb-0">
                  <ul>
                    {% for wingmasVenue in wingmasinfo.items %}
                      <li> {{wingmasVenue.venuename}} </li>
                    {% endfor %}
                  </ul>
                </p>
              </div>
            </div>
          </div>
            <p></p>
        {% endfor %}

      </div>
    </div>
  </section>  
</div>
